.CChanger{
    background-color: lightgray;
    border-style:outset;
}

.red{
    color:red;
}

.blue{
    color:blue;
}

.yellow{
    background-color:yellow;
}

.green{
    background-color:green;
}